{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="d1">
        <a href="{% url 'post_edit' pk=post.pk %}"><button>Edit <i class="fa fa-pencil"></i></button>
        </a>
        <a href="{% url 'post_publish' pk=post.pk %}"><button>Publish <i class="fa fa-check-circle"></i></button>
        </a>
        <a href="{% url 'post_publish' pk=post.pk %}"><button>Delete <i class="fa fa-close"></i></button>
        </a>
        </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>


            <hr>

        <div class="d2">
            <a href="{% url 'add_comment_to_post' pk=post.pk %}"><button>Add Comment <i class="fa fa-envelope"></i></button>
        </div>
        
            
            <div class="comment">
                <div class="date">{{ comment.created_date }}</div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
                <a href=""
            </div>

        <div data-gb-custom-block data-tag="empty">

            <p>No comments here yet ('-')7</p>
            
        </div>
        
{% endblock %}



